<div>
  <div>
    <% if @idea.errors.any? %>
      <ul>
        <% @idea.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div>
    <%= form_with model: @idea, local: true do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <%= f.submit %>
    <% end %>
  </div>
</div>